<div class="header">
  <div class="head-dis">
   <a href="#home">
     <img src="assets/images/shes-the-first-new-logo.png" class="headlogo">
   </a>
   </div>
</div>
<div class="nav-container">
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#grilled-cheese">Order Here</a></li>
      <li><a href="#admin">Admin</a></li>
      <li><a href="#admin/orders">Orders</a></li>
      <li><a href="#admin/scholars">Scholars</a></li>
      <li><a href="#edit-menu">Menu</a></li>
    </ul>
  </nav>
</div>
