<h1>ADMIN</h1>
<div ng-include="'/views/templates/admin-nav.html'"></div>

<div>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Time</th>
        <th>Name</th>
        <th>Address</th>
        <th>GC1</th>
        <th>GC2</th>
        <th>GC3</th>
        <th>GC4</th>
        <th>Order Total</th>
        <th>Payment Type</th>
      </tr>
    </thead>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
