<div ng-include="'/views/templates/admin-nav.html'"></div>

<h2 class="Title">Scholars</h2>
<div>
    <a ng-click="toggleAddScholarModal()" class="link">Add New Scholar</a>
</div>

<table class="scholars">


</table>

<modal-dialog show="addScholarModal.modalShown" width="50%" height="50%">
    <form class="addScholar">
     <ul>
      <div class="row addScholarName">
        <li>
          <h2>Add A New Scholar</h2>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="name">Name:</label>
          <input type="text" name="name" ng-model="newScholar.name" required>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="location">Location:</label>
          <input type="text" name="location" ng-model="newScholar.location" required>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="email">Description:</label>
          <input type="text" name="email" ng-model="newScholar.description" required>
        </li>
      </div>
      <div class="row inputPadding">
        <li>
          <label class="col-xs-4" for="image">Image:</label>
          <input type="text" name="image" ng-model="newScholar.image" required>
        </li>
      </div>
      <div class="row col-xs-4 submitNew">
        <button type="submit" ng-click="addScholar(newScholar)">Submit</button>
      </div>
    </ul>
    </form>
  </modal-dialog>


<div ng-include="'/views/templates/footer.html'"></div>
