<div ng-include="'/views/templates/admin-nav.html'"></div>

<link rel="stylesheet" href="/assets/styles/editMenu.css" />

<div class="gcheese">
  <div class="gcheeseContainer">
    <form id="gcheeseForm">
      <fieldset>
        <legend>Edit Menu</legend>
        <ol>
          <li class="container" ng-repeat="sandwich in sandwiches">
            <label for="name">{{sandwich.name}}</label>
            <!-- if/when we add in bootstrap just delete the text 'edit' from the span and a pretty icon will appear  -->
            <span ng-click="toggleEditModal(sandwich)" class="glyphicon glyphicon-pencil" aria-hidden="true">edit</span>
            <ul>
              <li>{{sandwich.description}}</li>
              <li>Price ${{sandwich.unit_price}}</li>
              <li>Active: {{sandwich.active}}</li>

              <!-- <li>
                <button ng-click="deleteSandwich(sandwich)">
                  Delete Sandwich
                </button>
              </li> -->

            </ul>
          </li>



        </ol>
      </fieldset>
      <fieldset>
        <button ng-click="toggleModal()">Add Sandwich</button>
      </fieldset>
    </form>



  </div>
</div>

<span>
  <a class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
  </a>
</span>

<div ng-include="'/views/templates/footer.html'"></div>

<modal-dialog show="myData.modalShown" width="60%" height="60%">
  <div class="addSandwich">

    <div class="sandwich-modal-form-container">
      <h3 class="modalHeader">Add Sandwich</h3>
      <form class="addSandwichForm">

        <div class="row modal-row">
          <label for="newSandwich.name">Name of New Sandwich: </label>
          <input type="text" name="newSandwich.name" ng-model="newSandwich.name">
        </div>

        <div class="row modal-row">
          <label for="newSandwich.description">New Sandwich Description: </label>
          <textarea cols=60 rows=4 name="newSandwich.description" ng-model="newSandwich.description"></textarea>
        </div>

        <div class="row modal-row">
          <label for="newSandwich.unitPrice">New Sandwich cost in Dollars: </label>
          <input type="number" name="newSandwich.unitPrice" ng-model="newSandwich.unitPrice">
        </div>

        <div class="row modal-row">
          <label for="newSandwich.active">Is the New Sandwich Active Now: </label>
          <input type="radio" name="active" value="True" ng-model="newSandwich.active" required/> <label for="Active">Active</label>
          <input type="radio" name="active" value="False" ng-model="newSandwich.active" required/> <label for="Inactive">Inactive</label>
        </div>



        <div class="row modal-row">
          <button ng-click="submitSandwich()">Submit</button>
        </div>

      </form>
    </div>
  </div>
</modal-dialog>


<modal-dialog show="editSandwich.modalShown" width="60%" height="60%">
  <div class="addSandwich">

    <div class="sandwich-modal-form-container">
      <h2 class="modalHeader">Edit Sandwich</h2>
      <form class="addSandwichForm">

        <div class="row modal-row">
          <label for="selectedSandwichToEdit.name">Name of Sandwich: </label>
          <input type="text" name="selectedSandwichToEdit.name" ng-model="selectedSandwichToEdit.name">
        </div>

        <div class="row modal-row">
          <label for="selectedSandwichToEdit.description">Sandwich Description: </label>
          <textarea cols=60 rows=4 name="selectedSandwichToEdit.description" ng-model="selectedSandwichToEdit.description"></textarea>
        </div>

        <div class="row modal-row">
          <label for="selectedSandwichToEdit.unit_price">Sandwich cost in Dollars: </label>
          <input type="number" name="selectedSandwichToEdit.unit_price"  ng-model="selectedSandwichToEdit.unit_price">
        </div>

        <div class="row modal-row">
          <label for="selectedSandwichToEdit.active">Is the Sandwich Active: </label>
          <input type="radio" name="active" value="TRUE" ng-model="selectedSandwichToEdit.active" required/> <label for="Active">Active</label>
          <input type="radio" name="active" value="FALSE" ng-model="selectedSandwichToEdit.active" required/> <label for="Inactive">Inactive</label>
        </div>

        <div class="row modal-row">
          <button ng-click="submitSandwichChanges()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</modal-dialog>
