<h3>ORDER G CHEESE</h3>

<div ng-include="'/views/templates/nav.html'"></div>

<form id="gcheeseForm">
  <label for="first_name">First Name</label>
  <input type="text" id="currentCustomerFirst" name="first_name" ng-model="currentCustomer.first_name" />

  <label for="last_name">Last Name</label>
  <input type="text" id="currentCustomerLast" name="last_name" ng-model="currentCustomer.last_name" />

  <label for="address">Address:</label>
  <input type="text" id="currentCustomerAddress" name="address" ng-model="currentCustomer.address" />

  <label for="city">City:</label>
  <input type="text" id="currentCustomerCity" name="city" ng-model="currentCustomer.city" />

  <label for="grilled_cheese1">Uh-huh Honey</label>
  <input type="text" id="currentGC1" name="grilled_cheese" ng-model="currentCustomer.grilled_cheese1" />

  <label for="grilled_cheese2">Bravo Italiano</label>
  <input type="text" id="currentGC2" name="grilled_cheese" ng-model="currentCustomer.grilled_cheese2" />
  <button ng-click="">Submit</button>
</form>
