<div ng-include="'/views/templates/nav.html'"></div>

<!-- <link rel="stylesheet" href="/assets/styles/home.css" /> -->

<div class="home">
    <br>
    <iframe src="http://www.youtube.com/embed/f07QqRIjirs" width="640" height="480"></iframe>
    <br>
    <h3>We are the University of Minnesota - Twin Cities &nbsp;chapter of She's the First, a nonprofit organization that sponsors girls' education in low-income countries, empowering them to be the first in their families to receive an education.</h3>
    <h3>We are excited to be able to share this fundraiser app for <strong><em>Cheese The First</em></strong>!</h3>
    <h3><br></h3>
    <h2><a class="links" href="#grilled-cheese">Click Here to order some grilled cheese!</a></h2>
    <h3><br></h3>
    <h3>Email us at <em><strong>stf@umn.edu</strong></em> to get involved with our chapter, or visit <a class="links" href="http://campus.shesthefirst.org/90">us here</a> to make a donation to support our fundraising efforts.&nbsp;&nbsp;</h3>
    <h3><br></h3>
    <h3>Here are some of the young women we've been able to support!</h3>
    <h3><br></h3>
    <div class="scholars">
      <div><h2>Tigist</h2></div>
      <div><h2>Ethiopia</h2></div>
      <div><img src="assets/images/Tigist_Ethiopia.png" class="scholarimg"></div>
      <div><h3>Orphaned at a young age, Tigist was separated from her two sisters and placed in an orphanage. One of She's the First's nonprofit partners, the Selamta Family Project, later helped reunite Tigist with her sisters and enrolled her in their school. Tigist will soon be starting ninth grade. Through money raised by She's the First UMN over the past year, Tigist will be able to continue her education this coming year and pursue her dreams of being a doctor.</h3></div>
    </div>
    <div class="scholars">
      <div><h2>Keerthara</h2></div>
      <div><h2>India</h2></div>
      <div><img src="assets/images/Keerthara_India.png" class="scholarimg"></div>
      <div><h3>At just three years old, Keerthara is the youngest scholar that She’s the First UMN sponsors. Keerthara currently attends preschool through one of She’s the First’s nonprofit partners in India, the Shanti Bhavan Children’s Project. Keerthara loves coloring, drawing, riding her bicycle, and learning her ABCs at school. Through our various fundraisers on and off campus, She’s the First UMN hopes to be able to continue sponsoring Keerthara so she can complete her primary and secondary education.</h3></div>
    </div>
    <div class="scholars">
      <div><h2>Hima</h2></div>
      <div><h2>Nepal</h2></div>
      <div><img src="assets/images/Hima_Nepal.png" class="scholarimg"></div>
      <div><h3>Hima is currently in sixth grade at the Kopila Valley School in the Surkhet district of Nepal, where she enjoys studying English and playing on the school's soccer team. Hima also likes to sing and practice photography with her friends. In a letter she wrote to our chapter this past school year, Hima described the inspiring relationships she has with her teachers at the Kopila Valley School. She even called one of her teachers a best friend, describing how loving, supportive, and encouraging she is toward her students. Hima dreams of one day using the educational opportunities she has been given to become a doctor or run a school like the one she attends.</h3></div>
    </div>
    <div class="scholars">
      <div><h2>Rose</h2></div>
      <div><h2>Gambia</h2></div>
      <div><img src="assets/images/Rose_Gambia.png" class="scholarimg"></div>
      <div><h3>Rose, the fourth and last of She’s the First UMN’s scholars, is currently in the tenth grade at Starfish International school in the Gambia. At school, her favorite subjects are art, English, and religion. When she grows up, Rose wants to be an artist. Rose is the only girl in her family to have the opportunity to go to high school, and we at She’s the First UMN are honored to help give her that opportunity. Through the fundraisers our chapter does throughout the school year, we hope to be able to continue sponsoring Rose so she can become the first woman in her family to complete a secondary education.</h3></div>
    </div>
    <br>
    <br>
    <br>
</div>




<div ng-include="'/views/templates/footer.html'"></div>
<br>
