<div ng-include="'/views/templates/nav.html'"></div>

<link rel="stylesheet" href="/assets/styles/home.css" />

<div class="home">
    <br>We are the University of Minnesota - Twin Cities &nbsp;chapter of She's the First, a nonprofit organization that sponsors girls' education in low-income countries, empowering them to be the first in their families to receive an education.
    <br>
    <br>We are excited to be able to share this fundraiser app for <strong><em>Cheese The First</em>
    </strong>!
    <br>
    <br><a class="links" href="#grilled-cheese">Click Here to order some grilled cheese!</a>
    <br>
    <br>Email us at <em><strong>ShesthefirstUMN@gmail.com</strong></em> to get involved with our chapter, or visit <a class="links" href="http://campus.shesthefirst.org/UMNtwincities">us here</a> to make a donation to support our fundraising efforts.&nbsp;&nbsp;
    <br>
    <br>
</div>


<div ng-include="'/views/templates/footer.html'"></div>
