<div ng-include="'/views/templates/nav.html'"></div>
<div class="home">
  <br>
  <br>
  <h2>We have recieved your Order!</h2>
  <br>
  <h2>Contact us at <b>(612)293-7489</b> if you have any questions about your order.</h2>
  <br>
  <h3>Thank you for helping us provide scholarships to girls in low-income countries with the goal
of creating first-generation graduates and our next generation of global leaders.</h3>
  <iframe src="https://drive.google.com/file/d/0B2HeSzfWqCR_QmUzYnFRUUp4UmM/preview" width="640" height="480"></iframe>
  <br>
  <br>
</div>
<div ng-include="'/views/templates/footer.html'"></div>
